global:
  resolve_timeout: 5m

route:
  group_by: ['alertname']
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 1h
  receiver: 'slack-notifications'

receivers:
  - name: 'slack-notifications'
    # In a real setup, you would add slack_configs here
    # slack_configs:
    #  - api_url: 'https://hooks.slack.com/services/INSERT_WEBHOOK_URL_HERE'
    #    channel: '#alerts'
